<div class="box tabular">
<%= form_tag({:controller => :cms_settings, :action => :update, :id => '1', :tab => 'general'},
               :method => :put, :id => "cms_settings_form") do %>
  <p>
    <label for="settings_use_localization"><%= l(:label_cms_use_localization) %></label>
    <%= hidden_field_tag 'settings[use_localization]', 0 %>
    <%= check_box_tag 'settings[use_localization]', 1, @settings["use_localization"].to_i > 0 %>
  </p>

  <p>
    <label><%= l(:label_cms_edit_permissions) %></label>
    <%= select_tag 'settings[edit_permissions]', cms_visibilities_for_select(@settings["edit_permissions"] || "admin", :only_groups => true, :admin => true)  %>
  </p>

  <p>
    <label><%= l(:label_cms_redmine_top_menu) %></label>
    <%= hidden_field_tag 'settings[show_home]', 0 %>
    <label class="block"><%= check_box_tag 'settings[show_home]', 1, @settings["show_home"].to_i > 0 %><%= l(:label_home) %></label>
    <%= hidden_field_tag 'settings[show_projects]', 0 %>
    <label class="block"><%= check_box_tag 'settings[show_projects]', 1, @settings["show_projects"].to_i > 0 %><%= l(:label_project_plural) %></label>
    <%= hidden_field_tag 'settings[show_help]', 0 %>
    <label class="block"><%= check_box_tag 'settings[show_help]', 1, @settings["show_help"].to_i > 0 %><%= l(:label_help) %></label>
  </p>

  <p>
    <label><%= l(:label_cms_cache_expires_in) %></label>
    <%= text_field_tag 'settings[cache_expires_in]', RedmineCms.cache_expires_in, :size => 5 %> <%= l(:label_cms_minute_plural) %>
  </p>

  <p>
    <label><%= l(:label_cms_base_layout) %></label>
    <%= select_tag 'settings[base_layout]',  options_for_select([["Default", "base"], ["CMS", "cms"]], @settings["base_layout"]) %>
  </p>

  <% if Page.any? %>
  <p>
    <label><%= l(:label_cms_landing_page) %></label>
    <%= select_tag 'settings[landing_page]', options_for_select(pages_options_for_select(Page.all), @settings["landing_page"]), :include_blank => true %>
  </p>
  <% end %>

  <p>
    <label><%= l(:label_cms_copyright) %></label>
    <%= text_field_tag 'settings[copyright]', @settings["copyright"], :style => "width: 98%;" %>
  </p>
  <%= submit_tag l(:button_apply) %>
<% end %>
</div>